* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
    text-decoration: none;
    /* border: 1px solid  #FF0000 */
}

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lora:wght@500&family=Roboto:wght@500&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-family: "Lora";
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

:root {
    --mainColor: #EA840D;
}

/* start home section */
#home {
    background: url('../images/home.png') no-repeat center;
    background-size: cover;
    height: 100vh;
    font-family: "Lora";

}

.res {
    display: none;
}

#home .navbar {
    justify-content: space-between !important;
}

#home nav .navbar-brand {
    background-color: transparent;
    border: none;
}

.navbar-expand-lg .navbar-nav .nav-item {
    cursor: pointer;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem;
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link i {
    font-size: 1.1rem;
}

#home nav form .form-control {
    background-color: var(--mainColor);
    border-color: #fff !important;
    border-radius: .7rem;
}

.reg {
    width: 30%;
}

.formser {
    width: 30%;
}

.collapse {
    width: 30%;
}

#home nav form .form-control::placeholder {
    color: #fff;
    font-family: "";
}

#home .homeContent {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home .homeContent .homeInfo {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#home .homeContent .homeInfo h1 {
    font-size: 5rem;
    font-family: "Lora";
}

#home .homeContent .homeInfo div {
    display: flex;
}

#home .homeContent .homeInfo .homebtn button {
    color: #EA840D;
    border-radius: 1.5rem;
    background-color: #fff;
    border-color: #EA840D;
    padding: .5rem 1rem;
    margin-top: 2rem;
}

#home .homeContent .homeInfo .homebtn button:hover {
    color: #fff;
    background-color: #EA840D;
    border-color: #fff;

}

#home .homeContent .homeSlider .carousel-indicators {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0;
    margin-right: 1rem;
    list-style: none;
}

#home .homeContent .homeSlider .carousel-item {
    position: relative;
}

#home .homeContent .homeSlider .carousel-item span {
    display: inline-block;
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: bolder;
    padding: .3rem 1.3rem;
    border-radius: 1rem;
    text-align: center;
    position: absolute;
    /* z-index: 998; */
    bottom: 14%;
    left: 50%;
    transform: translate(-50%);
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#home .homeContent .homeSlider img {
    width: 100%;
    height: 100%;
}

#home .buttons {
    font-family: "";
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);

}

#home .buttons a {
    color: #000;
    text-decoration: none;
}

#home .buttons a img {
    width: 30px;
    height: 30px;
}

#home .buttons a span {
    font-family: 'Roboto';
    display: inline-block;
    margin-left: .7rem;
}

/* end home section */

/* start login section */

#fixedBox,
#fixedBox1,
#Qr,
#cart,
#fav {
    color: #fff;
    font-family: "Lora";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 999;
}

.logIn,
.signUp {
    width: 80%;
    height: 90%;
    margin: auto;
    position: relative;
    display: flex;
    border-top-left-radius: 50px;
}

.loginheader,
.SignUpheader {
    font-size: 1.4rem;
    font-family: 'Inter';
    margin-bottom: 6rem;

}

.LogIncontent,
.SignUpcontent {
    background-color: var(--mainColor);
    padding: 2rem;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
}

.LogIncontent h2,
.SignUpcontent h2 {
    margin-bottom: 2rem;
}

.LogIncontent input,
.SignUpcontent input {
    padding: .7rem 1rem;
    background-color: rgba(255, 255, 255, 0.3);
    border: none !important;
    margin-bottom: .1rem;
}

.LogIncontent input::placeholder,
.SignUpcontent input::placeholder {
    color: #fff;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.LogIncontent .ip1 input,
.SignUpcontent .ip1 input {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.LogIncontent .ip2 input,
.SignUpcontent .ip2 input {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.LogIncontent .img,
.SignUpcontent .img {
    width: 60px;
    height: 60px;
    background-color: #FAFAFA;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
}

/* .LogInImg {
    background-color: #fff;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
} */

.LogInImg img,
.SignUpImg img {
    width: 100%;
    height: 100%;
}

/* end login section */

/* start Qr section */

#smallCard {
    width: 70%;
    /* height: 90%; */
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    border-radius: 24px;
    padding: 2rem;
}

#smallCard .par {
    color: rgba(0, 0, 0, 0.5);
    font-size: .7rem;
    padding: 0;
    margin: 0;
}

#smallCard img {
    width: 40%;
    height: 100%;
}

#smallCard button {
    background-color: #EA840D;
    padding: .2rem 0;
    color: #fff;
    border-radius: .7rem;
}

#smallCard button:hover {
    background-color: #fff;
    padding: .2rem 0;
    color: var(--mainColor);
    border-radius: .7rem;
    border: 1px solid #EA840D;
}

/* end Qr section */

/* start foodPopular section */
#foodPopular,
#burger {
    padding-top: 3rem;
    margin-bottom: 5rem;
}

#foodPopular h2,
#cat h2,
#burger h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
    font-family: "Lora";
}

#foodPopular .foodSlider {
    margin: auto;
}

#foodPopular .foodSlider .card {
    border-radius: 2.5rem !important;
    background-color: #fff;
    width: 90%;
}

#foodPopular .foodSlider .card img {
    width: 200px;
    height: 200px;
}

#foodPopular .foodSlider .card button {
    background-color: #EA840D;
    color: #fff;
    font-size: 1rem;
    font-family: "Inter";
}

#foodPopular .foodSlider .owl-dots {
    display: none;
}

#foodPopular .foodSlider .owl-nav .owl-prev span,
#foodPopular .foodSlider .owl-nav .owl-next span {
    color: #EA840D;
    font-size: 5rem;
    position: absolute;
}

#foodPopular .foodSlider .owl-nav .owl-prev span {
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
}

#foodPopular .foodSlider .owl-nav .owl-next span {
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
}

/* end foodPopular section */

/* start adv section */
#adv {
    background-color: var(--mainColor);
    color: #000;
    margin: 7rem 0;
}

#adv .position-absolute {
    right: 0;
    top: -19%;
    transform: translateY(8%);
}

#adv p {
    font-family: "Lora";
    font-size: 2rem;
    padding: 5rem 0;
    font-weight: 900;
}

#adv button {
    background-color: #000;
    color: #fff;
    font-size: .5rem;
    padding: 0 1.3rem;
    margin-left: 1.5rem;
}

#adv button img {
    width: 25px;
    height: 25px;
}

#adv button span {
    display: block;
    font-weight: bold;
    font-size: .7rem;
    padding-left: .7rem;
}

#adv .position-absolute img {
    width: 81%;
    height: 50%;
}

/* end avd section */

/* start cat section */
#cat {
    font-family: "Lora";
}

.swiper {
    width: 600px;
    height: 300px;
}

/* end cat section */
#burger .burgerList {
    margin-bottom: 3rem;
}

#burger .burgerList .nav .nav-item {
    border: 1px solid #EA840D;
    margin: 1rem;
    border-radius: 12px;
}

#burger .burgerList .nav .nav-item:hover {
    background-color: #EA840D;
}

#burger .burgerList .nav .nav-item .nav-link {
    color: #000000;
    padding: .5rem 1.75rem;
    font-weight: 400;
}

#burger .burgerList .nav .nav-item .nav-link:hover {
    color: #ffffff;
}

#burger .burgerCards .card,
#fav .favCards .card {
    border-radius: 1.9rem;
}

#burger .burgerCards .card #discount {
    display: inline;
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 1rem;
    padding: .3rem 1rem;
    border-radius: .7rem;
    text-align: center;
    position: absolute;
    z-index: 998;
    top: 8%;
    left: 10%;
}

#burger .burgerCards .card:hover {
    border-color: #EA840D;
    border-width: 3px;
}

#burger .burgerCards .card .cardIcon,
#fav .favCards .card .cardIcon {
    display: inline-block;
    position: absolute;
    right: 10%;
    top: 8%;
}

#burger .burgerCards .card .cardIcon i,
#fav .favCards .card .cardIcon i {
    color: red;
    font-size: 2rem;
}

#burger .burgerCards .card img,
#fav .favCards .card img {
    width: 200px;
    height: 200px;
    text-align: center;
}

#burger .burgerCards .card .card-text,
#fav .favCards .card .card-text {
    color: rgba(0, 0, 0, 0.6);
}

#burger .burgerCards .card button,
#fav .favCards .card button {
    padding: 0 0 0 1rem;
    cursor: pointer;
}

#burger .burgerCards .card button i,
#fav .favCards .card button i {
    display: inline-block;
    background-color: var(--mainColor);
    padding: .5rem 1.5rem;
    color: #fff;
    font-size: 1.2rem;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
}


/* end burger section */

/* start Cart section */
#cart,
#fav {
    display: none;
    color: #000;
    overflow-y: scroll;
}

#cart .cartSmall {
    background-color: #fff;
    width: 70%;
    padding: 4rem;
    border-radius: 2rem;
    margin: auto;

}

#cart .cartSmall .cartIcon {
    margin-bottom: 1rem;
}

#cart .cartSmall .cartIcon i {
    color: #000;
    padding: 1rem;
    border: 1px solid var(--mainColor);
    font-size: 1rem;
    border-radius: 8px;
}

#cart .cartSmall .cartHeader,
#fav .cartSmall .favHeader {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

#cart .cartSmall .arrowicon i,
#fav .cartSmall .arrowicon i {
    color: var(--mainColor);
    font-size: 2rem;
}


#cart .cartSmall .header h2,
#fav .cartSmall .header h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

#cart .cartItems table th {
    color: rgba(0, 0, 0, 0.6);
    font-size: .9rem;
}

#cart .cartItems table tr td {
    font-weight: 900;
}

#cart .totalInfo {
    border: 2px solid var(--mainColor);
    border-radius: 1.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;
}

#cart .btn-group {
    width: 100%;
    border-radius: 1rem;
}

.btn-outline-primary {
    color: #000;
    border-color: var(--mainColor);
}

.btn-check:checked+.btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
    color: #fff;
    background-color: var(--mainColor);
    border-color: var(--mainColor);
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--mainColor);
    border-color: var(--mainColor);
}

#cart .totalPrice .price p {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
}

#cart .totalInfo button {
    background-color: var(--mainColor);
    border-radius: .5rem;
    color: #fff;
    font-size: 1.2rem;
}

/* end cart section */

#fav .cartSmall {
    background-color: #fff;
    width: 90%;
    padding: 4rem;
    border-radius: 2rem;
    margin: auto;
}

/* start footer section */
footer {
    background-color: #000000;
    padding: 3rem;
}

footer .footerTitle {
    font-family: "Lora";
    margin-bottom: 2rem;
}

footer .footerContactLinks a {
    color: #fff;
    text-decoration: none;
}

footer .footerContactLinks a:hover {
    color: var(--mainColor);
}

footer .footerarrow {
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

/* end footer section */



/* Media Query */

@media screen and (max-width:768px) {
    #home nav .reg {
        display: none !important;
    }

    .res {
        display: block;
    }

    .open {
        height: 50px;
        width: 3.8rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9999999;
        /* background-color: #ffffff50; */
        text-align: center;
        transition: all 1s ease;
    }

    .open .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .open .icon2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }

    .sidenav {
        display: none;
        position: fixed;
        top: 0;
        left: 0px;
        width: 150px;
        height: 100vh;
        z-index: 999999999;
        background-color: #000;

    }

    .itemlink {
        text-transform: capitalize;
    }

    .sidenav ul {
        padding-left: 30px;
    }

    .sidenav li {
        list-style: none;
        padding-top: 100vh;
    }

    .sidenav ul li a {
        text-decoration: none;
        color: #f9f6f6;
        font-weight: 500;
        font-size: 16px;
    }

    .sidenav ul li a:hover {
        color: var(--mainColor);
    }

    #home {
        background: var(--mainColor);
        height: 110vh;
    }

    .formser {
        width: 50%;
        margin: auto;
    }

    #home .homeContent .homeInfo h1 {
        font-size: 2rem;
    }

    #home .homeContent .homeInfo .homebtn button {
        margin-top: 1rem;
    }

    #home .buttons {
        bottom: 0%;
    }

    #home .buttons a:first-of-type {
        margin-bottom: .5rem;
    }

    #home .buttons a img {
        width: 20px;
        height: 20px;
    }

    #home .buttons a span {
        margin-left: 0;
    }
    
    #foodPopular .foodSlider .owl-dots {
        display: block;
    }

    #foodPopular .foodSlider .owl-dots span {
        color: var(--mainColor);
    }

    #foodPopular .foodSlider .owl-nav .owl-prev span,
    #foodPopular .foodSlider .owl-nav .owl-next span {
        display: none;
    }
    #foodPopular .foodSlider .item .card{
        margin: auto;
    }

    #adv p {
        width:50%;
        font-size: 1rem;
    }
    


}